blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  padding: 5px;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding: 5px;
  padding-left: 0px;

}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  padding: 5px;
  width: 100%;
}

figure {
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
}


figcaption {
  font-style: italic;
  padding: 5px;
  text-align: right;
}

body{
  max-width: 960px;
  padding: 5px;

}

.external-links{
  width: 20%;
  display: inline-block;
  position: relative;
  right: -200px;
  padding: 5px;
  
}
 
 main{
  width: 50%;
  position: relative;
  right: -310px;
  top: -125px;
  padding: 5px;
 }


