body{
  max-width: 960px;
  min-width: 50px;
  padding: 5px;
  margin: auto;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
  min-width: 20%;
}

cite {
  display: block;
  padding: 5px;
  margin-top: 10px;
  min-width: 20%;
}

#external-links ul {
  list-style-type: none;
  padding: 15px;
  padding-left: 0px;
  min-width: 20%;
}

h1{
  padding: 5px;
}
/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  padding: 5px;
  width: 100%;
  min-width: 20%;
}

figure {
  padding: 5px;
  margin-left: 0px;
  margin-right: 0px;
}


figcaption {
  font-style: italic;
  padding: 5px;
  text-align: right;
}

#external-links{
  position: static;
  display: inline-block;
  width: 20%;
  padding: 5px;
}
 
 main{
  position: static;
  display: inline-block;
  width: 75%;
 }

 main, #external-links {
  display:inline-block; vertical-align: top;
 }

 @media only screen and (max-width: 500px) {
  body{
    background-color: hotpink;
  }

 }

 @media only screen and (max-width: 500px) {
  h1{
    font-size: 15pt;
  }
 }

 @media only screen and (max-width: 500px){
  main{
    width: 75%;
  }
 }


