section#contact-info{
	font-size: .8em;
}

section.job{
	background-color: #e9e5dc;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

section.list{
	font-size: .8em;
}

a:hover has to come after a:link and a:visited in order to work.

ul > li
use the greater than symbol to select which child element you want.